<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/images/public.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand visible-xs">重庆文理学院</a> 　
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">首页</a></li>
                    <li><a href="//channel_8061.html">学生</a></li>
                    <li><a href="//channel_7831.html">教职工</a></li>
                    <li><a href="//channel_7901.html">考生</a></li>
                    <li><a href="/http://xyh.cqwu.net">校友总会</a></li>
                    <li class="hidden-sm"><a href="/http://jyjj.cqwu.edu.cn/">基金会</a></li>
                </ul>
                <form action="/users/searchView" method="GET" class="navbar-form navbar-left form1 hidden-xs hidden-sm" role="search">
                    <div class="form-group" style="padding-top: 0">
                        <input class="form-control input1" pattern="\S{1,50}" required name="keyword">
                        <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="hidden-sm"><a href="/channel_8541.html" target="_blank">教务网</a></li>
                    <li><a href="/http://lib.cqwu.net/" target="_blank">图书</a></li>
                    <li><a href="/http://mail.cqwu.edu.cn" target="_blank">邮箱</a></li>
                    <li><a href="/channel_8203.html" target="_blank">招聘</a></li>
                    <li><a href="/http://218.194.176.35/" target="_blank">招标</a></li>
                    <li class="hidden-md"><a href="/http://cuas.cqwu.edu.cn/" target="_blank">English</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="head1">
        <div class="up">
            <div class="container">
                <img src="/images/logo3.png" width="33%" alt="">
            </div>
        </div>
        <div class="down hidden-xs">
            <div class="container">
                <dl>
                    <dt class="hidden-sm">学校概况</dt>
                    <dd>
                        <ul class="container list-inline">
                            <li><a href="/channel_7586.html">学校简介</a></li>
                            <li><a href="/channel_7601.html">发展历程</a></li>
                            <li><a href="/channel_7564.html">现任领导</a></li>
                            <li><a href="/channel_7565.html">组织机构</a></li>
                            <li><a href="/channel_7781.html">学校标识</a></li>
                            <li><a href="/channel_7566.html">校园风光</a></li>
                            <li><a href="/http://218.194.176.93/Default.aspx?stationID=1">文理影像</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt class="hidden-sm">院系设置</dt>
                    <dd>
                        <ul class="list-inline container">
                            <li><a href="/http://chinese.cqwu.net/" target="_blank">文化与传媒学院</a></li>
                            <li><a href="/http://math.cqwu.net/" target="_blank">数学与大数据学院</a></li>
                            <li><a href="/http://english.cqwu.net/" target="_blank">外国语学院</a></li>
                            <li><a href="/http://material.cqwu.net/" target="_blank">化学与环境工程学院</a></li>
                            <li><a href="/http://ty.cqwu.net/" target="_blank">体育学院</a></li>
                            <li><a href="/http://biologyt.cqwu.net/" target="_blank"
                                    title="园林与生命科学学院/特色植物研究院">园林与生命科学学院/特色植物研究院</a></li>
                            <li><a href="/http://zfxy.cqwu.net/" target="_blank">马克思主义学院</a></li>
                            <li><a href="/http://dzdq.cqwu.net/" target="_blank" title="电子信息与电气工程学院">电子信息与电气工程学院</a></li>
                            <li><a href="/http://music.cqwu.net/" target="_blank">音乐学院</a></li>
                            <li><a href="/http://art.cqwu.net/" target="_blank">美术与设计学院</a></li>
                            <li><a href="/http://jy.cqwu.net/" target="_blank">教育学院</a></li>
                            <li><a href="/http://jgxy.cqwu.net/" target="_blank">经济管理学院</a></li>
                            <li><a href="/http://tourism.cqwu.net/" target="_blank">旅游学院</a></li>
                            <li><a href="/http://computer.cqwu.net/" target="_blank"
                                    title="人工智能学院/重庆服务外包学院">人工智能学院/重庆服务外包学院</a></li>
                            <li><a href="/http://clsys.cqwu.net/" title="材料科学与工程学院/新材料技术研究院"
                                    target="_blank">材料科学与工程学院/新材料技术研究院</a></li>
                            <li><a href="/http://jdxy.cqwu.net" target="_blank">智能制造工程学院</a></li>
                            <li><a href="/http://iatti.cqwu.net/" title="药学院/创新靶向药物国际研究院"
                                    target="_blank">药学院/创新靶向药物国际研究院</a></li>
                            <li><a href="/http://tm.cqwu.edu.cn/" target="_blank">土木工程学院</a></li>
                            <li><a href="/http://cchc.cqwu.net/" target="_blank">重庆文化遗产学院</a></li>
                            <li><a href="/http://iss.cqwu.net/" target="_blank">国际学院</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>人才培养</dt>
                    <dd>
                        <ul class="list-inline container">
                            <li><a href="/http://jxb.cqwu.net/" target="_blank">本科生教育</a></li>
                            <li><a href="/http://kjb.cqwu.net/channel_22052.html" target="_blank">研究生教育</a></li>
                            <li><a href="/http://iss.cqwu.net/" target="_blank">留学生教育</a></li>
                            <li><a href="/http://jj.cqwu.net/" target="_blank">继续教育</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>科学研究</dt>
                    <dd>
                        <ul class="list-inline container">
                            <li><a href="/channel_7641.html">科研机构</a></li>
                            <li><a href="/http://kjb.cqwu.net/" target="_blank">科研管理</a></li>
                            <li><a href="/http://kjb.cqwu.net/channel_22047.html" target="_blank">学科建设</a></li>
                            <li><a href="//channel_7662.html">学术期刊</a></li>
                            <li><a href="/http://www.csti.cn/" target="_blank">重庆科技资源共享平台</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>招生就业</dt>
                    <dd>
                        <ul class="list-inline container text-center">
                            <li><a href="/http://zb.cqwu.edu.cn/" target="_blank">招生信息网</a></li>
                            <li><a href="/http://wljy.cqwu.edu.cn/" target="_blank">就业信息网</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt class="hidden-sm">校园文化</dt>
                    <dd>
                        <ul class="list-inline container text-center">
                            <li><a href="/http://cqwu.cuepa.cn">重文理报</a></li>
                            <li><a href="/channel_7668.html">学生社团</a></li>
                            <li><a href="/http://gh.cqwu.net/" target="_blank">教工之家</a></li>
                            <li><a href="/channel_7648.html">品牌活动</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt class="hidden-sm">合作交流</dt>
                    <dd>
                        <ul class="list-inline container text-center">
                            <li><a href="/http://gjc.cqwu.net/" target="_blank">国际交流合作</a></li>
                            <li><a href="/http://hfb.cqwu.net/" target="_blank">内地交流合作</a></li>
                            <li><a href="/http://gjc.cqwu.net/" target="_blank">港澳台事务</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>信息公开</dt>
                    <dd>
                        <ul class="list-inline container text-right">
                            <li><a href="/channel_7654.html">一周会议通知</a></li>
                            <li><a href="/channel_7655.html">领导机构</a></li>
                            <li><a href="/channel_7670.html">实施办法</a></li>
                            <li><a href="/channel_7656.html">指南与目录</a></li>
                            <li><a href="/channel_7672.html">年度报告</a></li>
                            <li><a href="/channel_23318.html">本科教学质量报告</a></li>
                        </ul>
                    </dd>
                </dl>

            </div>
        </div>
    </header>
    <%-body %>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 visible-lg f1">
                    <img src="/images/sentrybox.gif" alt="">
                    <a href="/##">
                        <img src="/images/blue.png" alt="">
                    </a>
                    <p>
                        <a href="/#"><img src="/images/beian.png" alt=""> 渝公网安备 50011802010053号</a>
                        <a href="/#"> 备案号:渝ICP备05001037号-1</a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 f2">
                    <dl>
                        <dt>联系方式</dt>
                        <dd>
                            <a href="/##">红河校区：重庆市永川区红河大道319号</a>
                        </dd>
                        <dd>
                            <a href="/##">星湖校区：重庆市永川卫星湖文化旅游区</a>
                        </dd>
                        <dd>
                            邮编：402160
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3 hidden-xs f2">
                    <dl>
                        <dt>友情链接</dt>
                        <dd>
                            <a href="/##">中华人民共和国教育部</a>
                        </dd>
                        <dd>
                            <a href="/##">重庆市人民政府网</a>
                        </dd>
                        <dd>
                            <a href="/##">重庆市教育委员会公众信息网</a>
                        </dd>
                        <dd>
                            <a href="/##">中国教育和科研计算机网</a>
                        </dd>
                        <dd>
                            <a href="/##">高等教育出版社</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-3 visible-lg">
                    <div class="f3">
                        <span>
                            <img src="/images/indexWx.jpg" alt="">
                            官方微信
                        </span>
                        <span>
                            <img src="/images/indexWb.jpg" alt="">
                            官方微博
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <p class="hidden-xs">Copyright © Chongqing University Of Arts And Sciences All Rights Reserved | 渝ICP备05001037号
            | 技术支持：现代教育技术中心
            <p class="visible-xs">技术支持：现代教育技术中心</p>
    </footer>
</body>
</html>